
.container {
    width: 80%;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 36px;
    color: #333333;
  }
  
  p {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    color: #333333;
  }
  
  .post {
    margin-bottom: 20px;
  }
  
  .post h2 {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 24px;
    color: #333333;
  }
  
  .CLOTHINGS img {
    width: 500px;
    height: 800px;
  }